<%- include ('./partials/headers.ejs') %>

    <body>
        <%- include ('./partials/dashboardNav.ejs') %>
            <h1>
                <%= name%>
            </h1>
            <h2>Admin</h2>

            <header>
                <div>
                    <form action="/fetchFlights" method="POST">
                        <div>
                            <label for="from">From</label>
                            <input type="text" name="from" id="from" placeholder="From">
                            <label for="to">To</label>
                            <input type="text" name="to" id="to" placeholder="To">
                            <!-- form to get date -->
                            <label for="date">Date</label>
                            <input type="date" name="date" id="date" placeholder="Date">
                            <!-- submit button -->
                            <input type="submit" value="Submit">

                        </div>
                    </form>
                </div>
            </header>
    </body>
