<%- include ('./partials/headers.ejs') %>

    <body>
        <%- include ('./partials/navbar.ejs') %>
            <header>
                <div class="hero">
                    <video src="plane lanoing.mp4" muted autoplay loop></video>
                    <div id="video-overlay"></div>
                    <div class="headings">
                        <h1 id="title">Airline Ticket Booking Platform</h1>
                        <a href="/login">Book seats</a>
                    </div>
                </div>
            </header>
    </body>
